.Footer {
    padding-bottom: 30px;
    background-color: #404040;
    font-size: 14px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer-container {
    width: 83.5vw;
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

hr {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
}

#footer-upper-wrap {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
@media only screen and (min-width: 769px) {
    #footer-upper-wrap {
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
    #footer-upper-wrap {
        display: none;
    }
}

#footer-logo {
    object-fit: cover;
    width: 150px;
    height: 110px;
}

#footer-lower-wrap {
    width: 100%;
    height: 100px;
}

.footer-upper-nav h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-upper-nav h3:hover, .footer-upper-nav p:hover {
    cursor: pointer;
}

.footer-upper-nav a, .footer-upper-nav p {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 10px;
}

#CONTRIBUTORS {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 300px;
    height: 100%;
}

.contributor {
    margin: 5px;
}

.contributor img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}