.HomeNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    transition-duration: 200ms;
    z-index: 999999;
}

#home-nav-menu {
    margin-left : auto;
    margin-right: 30px;
    background-color: rgba(0,0,0,0);
    border: 0;
}

#home-nav-menu .menu-item {
    color: white;
    font-size: 1.1rem;
    margin: 0 10px;
    border-radius: 25px;
    cursor: pointer;
    /*cursor: url('../assets/leaf-help.cur'), pointer;*/
}

#home-nav-menu .menu-item:hover {
    color: white !important;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
    2px 2px 6px rgba(0,0,0,0.8);
}

#home-nav-menu .menu-item:focus {
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.1),
    inset 2px 2px 6px rgba(0,0,0,1);
}

#home-nav-menu .ant-menu-item-selected {
    color: white !important;
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.1),
    inset 2px 2px 6px rgba(0,0,0,1);
}

#home-nav-menu .menu-item:hover::after, .menu-item:hover::before, .ant-menu-item-selected::after {
    border-color: rgba(0,0,0,0) !important;
}

#home-nav-logo {
    margin-left: 2vw;
    background: url(../assets/logo_big_white.png);
    height: 32px;
    width: 204px;
    min-width: 204px;
    cursor: pointer;
    /*cursor: url('../assets/leaf-help.cur'), pointer;*/
}

.HomeNav .submenu-icon svg {
    width: 20px;
    height: 20px;
    color: white;
}